# serverless.yml
# test

service: serverless-video-metadata-generator

provider:
  name: aws
  runtime: nodejs6.10
  environment:
    SNS_PUBLISH_ROLE_ARN:
      - 'Fn::Join':
        - ':'
        -
          - arn:aws:iam
          - Ref: AWS::Region
          - Ref: AWS::AccountId
          - your-notification-sns-topic

functions:
  extractMetadata:
    handler: handler.extractMetadata
    events:
      - s3: 
          bucket: your-uploads-bucket
          event: s3:ObjectCreated:*
  saveMetadata:
    handler: handler.saveMetadata
    events: 
      - sns: your-notification-sns-topic

resources:
  Resources:
    snsPublishRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: snsPublishRole
        AssumeRolePolicyDocument: 
          Version: '2012-10-17'
          Statement: 
            - Effect: Allow
              Principal: 
                Service: 
                  - rekognition.amazonaws.com
              Action: 
                - sts:AssumeRole
        Policies:
          - PolicyName:  snsPublishPolicy
            PolicyDocument: 
              Version: '2012-10-17'
              Statement: 
                - Effect: Allow
                  Action: 
                    - sns:Publish
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      -
                        - arn:aws:sns
                        - Ref: AWS::Region
                        - Ref: AWS::AccountId
                        - your-notification-sns-topic